<input type='{{inputType}}' title='{{inputTitle}}' value='{{value}}' name='{{inputName}}' placeholder='{{inputPlaceholder}}' pattern='{{pattern}}' class='input {{#if className}} {{className}}{{/if}}'>
<span class="input-error"></span>