<section class="{{#if sectionStyle}} {{{sectionStyle}}}{{/if}}">
	{{{ subtitleComponent }}}
	<form class="{{formStyle}}">
		<div class="{{formContainerStyle}}">
			<div class="{{formInputsStyle}}">
				{{{ InputContentComponent }}}
			</div>
			{{{ ButtonComponent}}}
		</div>
		{{{ LinkComponent }}}
	</form>
</section>
