<section class="{{signinStyle}} {{#if sectionStyle}} {{{ sectionStyle }}}{{/if}}">
	{{{ subtitleComponent }}}
	<form class="{{formStyle}}">
		<div class="{{formContainerStyle}}">
			<div class="{{formInputsStyle}}">
				{{{ InputFieldLoginComponent }}}
				{{{ InputFieldPasswordComponent }}}
			</div>
			{{{ ButtonComponent text="{{textButton}}" page='error' className='signin-form__button' }}}
		</div>
		{{{ Link text="{{textLink}}" href='#' page='registration' }}}
	</form>
</section>