<div class='page'>
	{{{ HeaderComponent }}}
	<main class='main main-error'>
		<section class='error'>
			{{{ ErrorCodeComponent }}}
			<img src='https://github.com/DoneAlejandro/yandex-praktikum/blob/sprint_1/src/assets/img/fixiki.png?raw=true' alt='fixiki'>
			{{{ ErrorTextComponent }}}
			{{{ ErrorLinkComponent }}}
		</section>
	</main>
	{{{ FooterComponent }}}
</div>
