<div class='page'>
	{{{ HeaderComponent }}}
	<main class='main main-error'>
		<section class='error'>
			{{{ ErrorCodeComponent }}}
			{{{ ErrorTextComponent }}}
			{{{ ErrorLinkComponent }}}
		</section>
	</main>
	{{{ FooterComponent }}}
</div>
